[submodule "Zafiro"]
	path = Zafiro
	url = https://github.com/SuperJMN/Zafiro.git
[submodule "ExtendedXmlSerializer"]
	path = ExtendedXmlSerializer
url=https://github.com/wojtpl2/ExtendedXmlSerializer.git