<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp uap3">
  <Identity Name="7172SuperJMN.SuppaDesigner" Publisher="CN=2F5DAE27-0DBB-414B-95A3-624160BB76D3" Version="1.0.2.0" />
  <mp:PhoneIdentity PhoneProductId="1db6b1ac-c541-4f2e-a227-b398a19ec154" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Suppa Designer</DisplayName>
    <PublisherDisplayName>SuperJMN</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Designer.App">
      <uap:VisualElements DisplayName="Suppa Designer" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Designer UWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>

        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="suppadesignerfiles">
            <uap:SupportedFileTypes>
              <uap:FileType>.sds</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Suppa Design Files</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <uap3:Extension Category="windows.appExtensionHost">
          <uap3:AppExtensionHost>
            <uap3:Name>superjmn.suppadesigner</uap3:Name>
          </uap3:AppExtensionHost>
        </uap3:Extension>

      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>